@use './scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&family=Poppins:ital,wght@1,200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 5px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.w-100 {
    width: 100%;
}
.text-center {
    text-align: center;
}
.p-bot-20 {
    padding-bottom: 20px;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
