$main-color: #31b3ff;
$shadow-color: #b8b8b8;
$border-color: #bebebe;
$sub-color: rgb(229, 250, 245);
$btn-color: #7269ef;
$btn-hover: #6156f6;
$sidebar-color: #f5f7fb;
$background-color: rgba(246, 246, 246, 0.739);
$face-color: #41a0ff;
$google-btn: rgb(255, 52, 79);
